<nav>
    <div class="nav-wrapper red darken-4">
        <a href="/" class="brand-logo">HelpTeacher</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li><a href="/disciplines">Disciplinas</a></li>
            <li><a href="/acting-areas">Áreas de atuação</a></li>
            <li><a href="/graduations">Formações</a></li>
        </ul>
    </div>
</nav>
<ul class="sidenav" id="mobile-demo">
    <li><a href="/disciplines">Disciplinas</a></li>
    <li><a href="/acting-areas">Áreas de atuação</a></li>
    <li><a href="/graduations">Formações</a></li>
</ul>